.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: #f1f1f1;
    margin-top: 12%;
  
}

.container select{
    padding: 12px;
    background-color: #f1f1f1;
    width: 90%;
    margin: 10px 0 ;
}

.selectionList{
    padding: 8px;
}