.logo{
    font-family: 'Poiret One', cursive;
    color:#ff7f08;
    text-align: center;
    font-weight: 100;
  }
  .title {
    font-family: 'Darker Grotesque', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 24px;
   
  }

  .heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 16px 20px;
    color:#d06e12;
    
  }



.form{  
  width: 60%;
  margin: 0 auto;
background-color: #fff;
padding: 2rem;
}


.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  border: none;
  background-color: antiquewhite;
  outline: none;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 8px 3px;
  font-weight: bold;
}
button{
    margin: 14px;
    padding: 8px 10px
}

.button:hover {
  transform: scale(0.98);
}

input:invalid:not(:placeholder-shown){
  border: 2px solid red;
}

h3{
  color: red;
}
